AEGIS_BASE_URL=http://127.0.0.1:8787
AEGIS_ACCESS_TOKEN=
AEGIS_DEVICE_ID=
AEGIS_TEST_ORIGIN=http://localhost
AEGIS_SYNC_LIMIT=25
AEGIS_TEST_TIMEOUT_MS=20000
AEGIS_ACK_MESSAGE_IDS=
AEGIS_TEST_PAYLOAD_FILE=
AEGIS_CAPTURE_FILE=
